<h3> Displaying profile </h3>

<br> First Name: <%= @profile.first_name %> </br>
<br> Last Name: <%= @profile.last_name %> </br>
<br> Bio: <%= @profile.bio%> </br>

<br> <%= link_to "edit", edit_profile_path(@profile) %> </br>